## Q1. Pandas version
---
What's the version of Pandas that you installed?

2.2.2

In [42]:
import pandas as pd
pd.__version__

'2.2.2'

## Get Data
---

In [43]:
file = pd.read_csv('laptops.csv')
file.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

## Q2. Records count
---

How many records are in the dataset?

2160

In [44]:
num_records = file.shape[0]
print(num_records)

2160

## Q3. Laptop brands
---

How many laptop brands are presented in the dataset?

    12
    27
    28
    2160