In [140]:
import pandas as pd
import numpy as np

### Q1. Pandas version
---
What's the version of Pandas that you installed?

2.2.2

In [141]:
pd.__version__

'2.2.2'

### Getting the data 
---

In [142]:
file = pd.read_csv('laptops.csv')
file.head(2)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,"ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core i5-1235U/8GB/512GB SSD/15.6""",New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.0
1,"Alurin Go Start Intel Celeron N4020/8GB/256GB SSD/15.6""",New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.0


### Q2. Records count
---
How many records are in the dataset?

2160

In [143]:
file.index

RangeIndex(start=0, stop=2160, step=1)

### Q3. Laptop brands
---

How many laptop brands are presented in the dataset?

27

In [144]:
file.Brand.nunique()

27

### Q4. Missing values
---
How many columns in the dataset have missing values?

3

In [145]:
# file.isnull().sum()
(file.isnull().sum() > 0).sum()

3

### Q5. Maximum final price
---
What's the maximum final price of Dell notebooks in the dataset?

3936

In [146]:
# file.groupby('Brand')['Final Price'].max()
file[file.Brand == 'Dell']['Final Price'].max()

3936.0

### Q6. Median value of Screen
---
1. Find the median value of `Screen` column in the dataset. - 15.6
2. Next, calculate the most frequent value of the same `Screen` column. - 15.6
3. Use `fillna` method to fill the missing values in `Screen` column with the most frequent value from the previous step.
4. Now, calculate the median value of `Screen` once again.

Has it changed?

No

In [147]:
# file.Screen.describe()
file.Screen.median()

15.6

In [148]:
file.Screen.mode()

0    15.6
Name: Screen, dtype: float64

In [149]:
# file.Screen.isna().sum()
file.Screen.fillna(15.6).median()

15.6

### Q7. Sum of weights
---
1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns `RAM`, `Storage`, `Screen`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the sum of all the elements of the result?

91.30

In [150]:
# file[file.Brand == 'Innjoo']
X = file[file.Brand == 'Innjoo'][['RAM','Storage','Screen']].values
XTX = np.dot(X.T,X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = np.dot(np.dot(XTX_inv, X.T),y)
w_sum = np.sum(w)
w_sum

91.29988062995588